# ./docker-compose.yml

services:
  frontend:
    build: 
      context: ./portfolio_ui
    environment:
      - NEXT_PUBLIC_API_URL=https://aouichou.me/api
      - NEXT_PUBLIC_MEDIA_URL=https://s3.eu-west-1.amazonaws.com/bucketeer-0a244e0e-1266-4baf-88d1-99a1b4b3e579
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - app-network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - media_volume:/app/media
    depends_on: [backend]
    restart: unless-stopped

  backend:
    build: 
      context: ./portfolio_api
    expose:
      - "8080"
    volumes:
      - ./portfolio_api/media:/app/media
    env_file: portfolio_api/.env
    environment:
      - DJANGO_SETTINGS_MODULE=portfolio_api.settings
    networks:
      - app-network
    restart: unless-stopped

  reverse-proxy:
    image: nginx:alpine
    ports: ["80:80", "443:443"]
    volumes:
      - media_volume:/app/media:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on: [frontend, backend]

  redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - app-network

  terminal:
    build: 
      context: ./portfolio-terminal
    security_opt:
      - seccomp:seccomp-profile.json
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    expose:
      - "8000"
    read_only: true       # Make the container filesystem read-only
    tmpfs:                # Mount temporary directories for write access
      - /tmp:exec,size=64M
      - /home/coder/sandboxes:exec,size=128M
      - /home/coder/projects:exec,size=128M
    volumes:
      - ./portfolio-terminal:/app
    networks:
      - app-network
    restart: unless-stopped
    environment:
      - PORT=8000
    depends_on: [redis]

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: portfolio_api/.env
    ports:
      - "5432:5432"
    networks:
      - app-network
    restart: unless-stopped

  # waf:
  #   image: owasp/modsecurity-crs:3.3
  #   volumes:
  #     - ./modsec/rules:/etc/modsecurity.d/rules

  # elk:
  #   image: sebp/elk:8.11
  #   ports: ["5601:5601", "9200:9200", "5044:5044"]

  # monitoring:
  #   image: prom/prometheus
  #   ports: ["9090:9090"]
  #   volumes:
  #     - ./prometheus.yml:/etc/prometheus/prometheus.yml

networks:
  app-network:
    driver: bridge

volumes:
  media_volume:
    driver: local
  postgres_data:
    driver: local