# portfolio_api/requirements.txt

Django>=6.0.7
djangorestframework>=3.17.1
django-ratelimit>=4.1.0
gunicorn>=26.0.0
Pillow>=12.3.0
python-dotenv>=1.2.2
psycopg2-binary>=2.9.12
dj_database_url>=3.1.2
whitenoise>=6.12.0
django-storages>=1.14.6
boto3>=1.43.61
djangorestframework-simplejwt>=5.5.1
django-cors-headers>=4.9.0
dnspython>=2.8.0
channels>=4.3.2
channels-redis>=4.3.0
daphne>=4.2.3
docker>=7.2.0
guacamole>=0.9.2
websockets>=17.0
APScheduler>=3.11.3
tqdm>=4.69.1
django-redis>=7.0.0 